<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <h1 class="sm-jumbotron text-center mb-4" >Student Registration Form</h1>
  
  <div class="padd">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- {{userForm.form.valid}} -->
    
    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" [(ngModel)]='userModel.name' name="username">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched"> Name is required</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" required class="form-control" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]='userModel.email' name="email">
    <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small> -->
      <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger"  *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.email">Enter a valid email</small>
      </div> 
  </div>

    <div class="form-group">
      <label>Phone</label> 
      <input type="tel" required class="form-control" #phone="ngModel"  pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]='userModel.phone' name="phone">
    <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone is required and must be 10 digits</small> -->
    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
      <!-- error property on the ng ngModel -->
      <small class="text-danger" *ngIf="phone.errors.required">phone number is required</small>
      <small class="text-danger"*ngIf="phone.errors.pattern">phone number must be 10 digits</small>
    </div>
    </div>
    
    
    <div>
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select" required #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" [(ngModel)]='userModel.topic' name="Qulified in" ngModel>
        <option value="default">Qualified in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>   
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please select a topic</small>   
    </div>

    <div class="mb-3"> 
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]='userModel.timePreference' type="radio" name="timePreference" value="morning">
        <label class="form-check-label">Morning (9AM-12PM)</label>
      </div>

      <div class="form-check">
          <input class="form-check-input"  [(ngModel)]='userModel.timePreference' type="radio" name="timePreference" value="evening">
          <label class="form-check-label">Evening (5PM-8PM)</label>
        </div>
    </div>
    
    <div class="form-check mb-3">
      <input class="form-check-input" name="subscribe" [(ngModel)]='userModel.phone' type="checkbox">
      <label class="form-check-label" >Subscribe</label>
    </div>


    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary">SUBMIT</button>
    

  </form>
</div>
</div>

<router-outlet></router-outlet>
