/* You can add global styles to this file, and also import other style files */
.sm-jumbotron{
    margin: 5px;
    padding: 1rem;
    font-family: 'Lucida Sans';
    background-color:rgb(116, 129, 116);
    color: white;
    text-transform: uppercase;
}

.padd{
    padding: 5px 5px 5px 5px;
}